In [2]:
import pandas as pd

from remake import load_remake

In [3]:
rmk = load_remake('../../remakefiles/check_model_level_to_pressure.py').finalize()

=> check_model_level_to_pressure <=

In [4]:
output = [t.outputs['output'] for t in rmk.CheckModelLevelToPressure.tasks]

In [5]:
output = [o for o in output if o.exists()]

In [6]:
output

[PosixPath('/gws/nopw/j04/mcs_prime/mmuetz/data/mcs_prime_output/check_model_level_to_pressure/check_model_level_to_pressure_20200101.hdf'),
 PosixPath('/gws/nopw/j04/mcs_prime/mmuetz/data/mcs_prime_output/check_model_level_to_pressure/check_model_level_to_pressure_20200201.hdf'),
 PosixPath('/gws/nopw/j04/mcs_prime/mmuetz/data/mcs_prime_output/check_model_level_to_pressure/check_model_level_to_pressure_20200301.hdf'),
 PosixPath('/gws/nopw/j04/mcs_prime/mmuetz/data/mcs_prime_output/check_model_level_to_pressure/check_model_level_to_pressure_20200401.hdf'),
 PosixPath('/gws/nopw/j04/mcs_prime/mmuetz/data/mcs_prime_output/check_model_level_to_pressure/check_model_level_to_pressure_20200501.hdf'),
 PosixPath('/gws/nopw/j04/mcs_prime/mmuetz/data/mcs_prime_output/check_model_level_to_pressure/check_model_level_to_pressure_20200601.hdf'),
 PosixPath('/gws/nopw/j04/mcs_prime/mmuetz/data/mcs_prime_output/check_model_level_to_pressure/check_model_level_to_pressure_20200701.hdf'),
 PosixPath('/gws/nopw/j04/mcs_prime/mmuetz/data/mcs_prime_output/check_model_level_to_pressure/check_model_level_to_pressure_20200801.hdf'),
 PosixPath('/gws/nopw/j04/mcs_prime/mmuetz/data/mcs_prime_output/check_model_level_to_pressure/check_model_level_to_pressure_20200901.hdf'),
 PosixPath('/gws/nopw/j04/mcs_prime/mmuetz/data/mcs_prime_output/check_model_level_to_pressure/check_model_level_to_pressure_20201001.hdf'),
 PosixPath('/gws/nopw/j04/mcs_prime/mmuetz/data/mcs_prime_output/check_model_level_to_pressure/check_model_level_to_pressure_20201101.hdf'),
 PosixPath('/gws/nopw/j04/mcs_prime/mmuetz/data/mcs_prime_output/check_model_level_to_pressure/check_model_level_to_pressure_20201201.hdf')]

In [7]:
df = pd.concat([pd.read_hdf(p) for p in output])

In [8]:
df

,time,reg,level,p1,p10,p25,p50,p75,p90,p99
0,2020-01-01 00:00:00,all,136,733.053670,943.161800,989.269070,1007.375799,1012.403072,1017.197378,1027.145451
1,2020-01-01 00:00:00,sea,136,975.346870,996.011953,1006.145893,1009.362516,1014.084434,1018.944980,1027.623286
2,2020-01-01 00:00:00,land,136,564.687034,842.149566,909.761067,961.697568,986.400535,1001.219342,1019.728528
3,2020-01-01 00:00:00,all,111,605.112104,756.148730,789.293029,802.309085,805.922950,809.369346,816.520537
4,2020-01-01 00:00:00,sea,111,779.285029,794.140163,801.424965,803.737241,807.131600,810.625613,816.864029
...,...,...,...,...,...,...,...,...,...,...
283,2020-12-01 23:00:00,sea,100,573.267835,582.477120,587.859700,589.488647,591.445122,593.644472,599.698833
284,2020-12-01 23:00:00,land,100,401.688298,520.649113,548.762418,570.478569,582.132999,589.212620,599.018092
285,2020-12-01 23:00:00,all,90,345.635000,386.439778,395.010297,398.308126,399.424191,400.467148,403.331843
286,2020-12-01 23:00:00,sea,90,391.332683,395.551637,398.017503,398.763755,399.660055,400.667621,403.441243
287,2020-12-01 23:00:00,land,90,312.728719,367.227010,380.106269,390.054865,395.393989,398.637302,403.129382

In [9]:
for level in [136, 111, 100, 90]:
    print(level)
    print(df[(df.reg == 'sea') & (df.level == level)].p50.mean())
    print(df[(df.reg == 'sea') & (df.level == level)].p50.std())

136
1009.5383861885647
0.6072700353803685
111
803.8636650835427
0.43653721324454425
100
589.6805659554606
0.25889645076447826
90
398.851677556205
0.1186055597640569

In [10]:
for level in [136, 111, 100, 90]:
    print(level)
    print(df[(df.reg == 'sea') & (df.level == level)][['p10', 'p50', 'p90']].mean())
    print(df[(df.reg == 'sea') & (df.level == level)][['p10', 'p50', 'p90']].std())

136
p10     994.674776
p50    1009.538386
p90    1019.749115
dtype: float64
p10    2.483232
p50    0.607270
p90    0.940226
dtype: float64
111
p10    793.178931
p50    803.863665
p90    811.203667
dtype: float64
p10    1.785076
p50    0.436537
p90    0.675883
dtype: float64
100
p10    583.343787
p50    589.680566
p90    594.033690
dtype: float64
p10    1.058672
p50    0.258896
p90    0.400845
dtype: float64
90
p10    395.948674
p50    398.851678
p90    400.845929
dtype: float64
p10    0.484999
p50    0.118606
p90    0.183635
dtype: float64

In [11]:
for level in [136, 111, 100, 90]:
    print(level)
    print(df[(df.reg == 'land') & (df.level == level)].p50.mean())
    print(df[(df.reg == 'land') & (df.level == level)].p50.std())

136
961.7588997912798
1.2265601221020228
111
769.5172909386989
0.8817150631249725
100
569.3108148942888
0.5229173905519058
90
389.5198936722206
0.23955874881107775

In [12]:
for level in [136, 111, 100, 90]:
    print(level)
    print(df[(df.reg == 'land') & (df.level == level)][['p10', 'p50', 'p90']].mean())
    print(df[(df.reg == 'land') & (df.level == level)][['p10', 'p50', 'p90']].std())

136
p10     843.841789
p50     961.758900
p90    1001.027378
dtype: float64
p10    2.000493
p50    1.226560
p90    2.543626
dtype: float64
111
p10    684.752353
p50    769.517291
p90    797.745511
dtype: float64
p10    1.438058
p50    0.881715
p90    1.828490
dtype: float64
100
p10    519.039404
p50    569.310815
p90    586.052082
dtype: float64
p10    0.852867
p50    0.522917
p90    1.084420
dtype: float64
90
p10    366.489571
p50    389.519894
p90    397.189398
dtype: float64
p10    0.390715
p50    0.239559
p90    0.496794
dtype: float64

In [13]:
raise Exception('Stop Here')

Exception: Stop Here

In [ ]:
from pathlib import Path

# These are all available as standard in Python 3 + Jaspy kernel.
import cartopy.crs as ccrs
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import xarray as xr
from xgcm import Grid

from mcs_prime import mcs_prime_config_util as cu
from mcs_prime.era5_calc import ERA5Calc

In [ ]:
model_levels = cu.PATH_ERA5_MODEL_LEVELS
e5calc = ERA5Calc(model_levels)

In [ ]:
lnsp_path = cu.era5_ml_fmtp('lnsp', 2020, 1, 1, 1)
lnsp = xr.open_dataarray(lnsp_path).isel(time=0).sel(latitude=slice(60, -60))
lnsp

In [ ]:
u_path = cu.era5_ml_fmtp('u', 2020, 1, 1, 1)
v_path = cu.era5_ml_fmtp('v', 2020, 1, 1, 1)
uv = xr.open_mfdataset([u_path, v_path]).isel(time=0).sel(latitude=slice(60, -60))

In [ ]:
p = e5calc.calc_pressure(lnsp.values)

In [ ]:
sp = np.exp(e5lnsp).values[0] / 100  # pressure in hPa.
a = df_ecmwf['a [Pa]'].values / 100  # a now in hPa.
b = df_ecmwf.b.values

In [ ]:
# ML -> pressure mapping used for shear
# 136: surf
# 111: 804 hPa
# 100: 590 hPa
# 90: 399 hPa

In [ ]:
# Broadcasting to correctly calc 3D pressure field.
p_half = a[:, None, None] + b[:, None, None] * sp[None, :, :]
p_ml = (p_half[:-1] + p_half[1:]) / 2

In [ ]:
da_p = xr.DataArray(
    p_ml,
    dims=['level', 'latitude', 'longitude'],
    coords=dict(
        level=e5u.level,
        latitude=e5lnsp.latitude,
        longitude=e5lnsp.longitude,
    ),
    attrs=dict(
        units='hPa',
        standard='air_pressure',
    )
)

In [ ]:
# Create a pressure xarray.DataArray
da_p = xr.DataArray(
    p / 100, # convert from Pa to hPa
    dims=['level', 'latitude', 'longitude'],
    coords=dict(
        level=uv.level,
        latitude=uv.latitude,
        longitude=uv.longitude,
    ),
    attrs=dict(
        units='hPa',
        standard='air_pressure',
    )
)

In [ ]:
# This is amazingly easy AND amazingly powerful.
# Interpolate u onto 4x pressure levels.
ds_p = da_p.to_dataset(name='pressure')
grid = Grid(ds_p, coords=dict(pressure={'center': 'level'}), periodic=False)
u_plev = grid.transform(
    e5u,
    'pressure',
    np.array([1000, 900, 800, 700]),
    target_data=ds_p.pressure,
    method='linear'
)

u_plev = u_plev.transpose('time', 'pressure', 'latitude', 'longitude')

In [ ]:
da_p.sel(level=[136, 111, 100, 90]).mean(dim=['latitude', 'longitude'])

In [ ]:
da_p.sel(level=[136, 112, 101, 91]).mean(dim=['latitude', 'longitude'])

In [ ]:
print(da_p.sel(level=[136, 112, 101, 91]).max(dim=['latitude', 'longitude']).values)
print(da_p.sel(level=[136, 112, 101, 91]).min(dim=['latitude', 'longitude']).values)

In [ ]:
plt.figure()
plt.plot(p_ml.mean(axis=(1, 2)), range(1, 138))
plt.ylim((137, 0))
plt.xlabel('Pressure (hPa)')
plt.ylabel('model level')
plt.title('ERA5 mean pressure for 2019/6/1 (60S-60N)');

In [ ]:
for pressure in [900, 800]:
    idx = np.abs(p_ml.mean(axis=(1, 2)) - pressure).argmin()
    print(idx, da_p.isel(level=idx).mean().values.item())
    fig, (ax0, ax1) = plt.subplots(2, 1, subplot_kw={'projection': ccrs.PlateCarree()})
    fig.set_size_inches(20, 6)
    e5u.isel(level=idx).plot(ax=ax0)
    u_plev.sel(pressure=pressure).plot(ax=ax1)
    ax0.coastlines()
    ax1.coastlines()

In [ ]:
for level in [136, 111, 100, 90]:
    p_at_level = da_p.sel(level=level)
    print(p_at_level.values.mean(), p_at_level.values.max(), p_at_level.values.min(), np.percentile(p_at_level.values, [25, 50, 75]))
    plt.figure()
    p_at_level.plot()

In [ ]:
levels = np.array([1000, 800, 600, 400])

ds_p = da_p.to_dataset(name='pressure')
grid = Grid(ds_p, coords=dict(pressure={'center': 'level'}), periodic=False)
u_plev = grid.transform(
    uv.u,
    'pressure',
    levels,
    target_data=ds_p.pressure,
    method='linear'
)
v_plev = grid.transform(
    uv.v,
    'pressure',
    levels,
    target_data=ds_p.pressure,
    method='linear'
)
# Set to natural coord order.
u_plev = u_plev.transpose('pressure', 'latitude', 'longitude')
v_plev = v_plev.transpose('pressure', 'latitude', 'longitude')

In [ ]:
u_plev

In [ ]:
uv_plev = xr.combine_by_coords([u_plev, v_plev])

In [ ]:
uv_plev

In [ ]:
np.isnan(uv_plev.u.values).sum(axis=(1, 2))

In [ ]:
uv_plev.u.shape

In [ ]:
481 * 1440

In [ ]:
lsm = xr.open_dataarray(cu.PATH_ERA5_LAND_SEA_MASK).isel(time=0).sel(latitude=slice(60, -60))

In [ ]:
lsm.plot()

In [ ]:
p111 = da_p.sel(level=111).values[lsm.values == 0]

In [ ]:
np.percentile(p111, [1, 10, 25, 50, 75, 90, 99])

In [ ]:
print('sea')
print(' ml      1     10     25     50     75     90     99')
for level in [136, 111, 100, 90]:
    plev = da_p.sel(level=level).values[lsm.values == 0]
    print(f'{str(level):>3}', ' '.join(f'{s:>6}' for s in [f'{v:.1f}' for v in np.percentile(plev, [1, 10, 25, 50, 75, 90, 99])]))

In [ ]:
print('land')
print(' ml      1     10     25     50     75     90     99')
for level in [136, 111, 100, 90]:
    plev = da_p.sel(level=level).values[lsm.values == 1]
    print(f'{str(level):>3}', ' '.join(f'{s:>6}' for s in [f'{v:.1f}' for v in np.percentile(plev, [1, 10, 25, 50, 75, 90, 99])]))

In [ ]:
(600 - 569) / 600 * 100

In [ ]:
lsm.sel(latitude=slice(40, -40), longitude=slice(0, 60)).plot()

In [ ]:
lsm_r = lsm.roll(shifts=dict(longitude=720))

In [ ]:
lsm.longitude.values, lsm_r.longitude.values

In [ ]:
lsm_r = lsm.copy()
lsm_r.coords['longitude'] = (lsm_r.coords['longitude'] + 180) % 360 - 180
lsm_r = lsm_r.sortby(lsm_r.longitude)

p_r = da_p.copy()
p_r.coords['longitude'] = (p_r.coords['longitude'] + 180) % 360 - 180
p_r = p_r.sortby(p_r.longitude)

In [ ]:
lsm_r.plot()

In [ ]:
sel_kwargs = dict(latitude=slice(40, -40), longitude=slice(-20, 52))
lsm_r.sel(**sel_kwargs).plot()

In [ ]:
print('Africa land')
print(' ml      1     10     25     50     75     90     99')
for level in [136, 111, 100, 90]:
    pafr = p_r.sel(level=level, **sel_kwargs)
    plev = pafr.values[lsm_r.sel(**sel_kwargs).values == 1]
    print(f'{str(level):>3}', ' '.join(f'{s:>6}' for s in [f'{v:.1f}' for v in np.percentile(plev, [1, 10, 25, 50, 75, 90, 99])]))

In [ ]:
def check_day(date):
    data = []
    for h in range(24):
        lnsp_path = cu.era5_ml_fmtp('lnsp', date.year, date.month, date.day, h)
        lnsp = xr.open_dataarray(lnsp_path).isel(time=0).sel(latitude=slice(60, -60))
        p = e5calc.calc_pressure(lnsp.values)
        da_p = xr.DataArray(
            p / 100, # convert from Pa to hPa
            dims=['level', 'latitude', 'longitude'],
            coords=dict(
                level=uv.level,
                latitude=uv.latitude,
                longitude=uv.longitude,
            ),
            attrs=dict(
                units='hPa',
                standard='air_pressure',
            )
        )
        print(date, h)
        for level in [136, 111, 100, 90]:
            plev = da_p.sel(level=level)
            sea_per = np.percentile(plev.values[lsm.values == 0], [1, 10, 25, 50, 75, 90, 99])
            land_per = np.percentile(plev.values[lsm.values == 1], [1, 10, 25, 50, 75, 90, 99])
            data.append([date + pd.Timedelta(hours=h), 'sea', level] + sea_per.tolist())

    return data

In [ ]:
import pandas as pd

In [ ]:
days = [pd.Timestamp(2020, m, 1) for m in range(1, 13)]

In [ ]:
data = []
for d in days:
    data.extend(check_day(d))
df = pd.DataFrame(data)

In [ ]:
data = _

In [ ]:
data

In [ ]:
df = pd.DataFrame(data, columns=['time', 'reg', 'level', 'p1', 'p10', 'p25', 'p50', 'p75', 'p90', 'p99'])

In [ ]:
df[df.level == 111].p50